

@{
    ViewData["Title"] = "Votes";
}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<div class="text-center">
    <p>Manual instrumenting ASP.NET Core with OpenTelemetry and Application Insights SDKs.</p>
</div>

<div class="alert alert-primary" role="alert" id="message"style="display: none;"></div>
<div class="alert alert-danger" role="alert" id="error"style="display: none;"></div>

